<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<h2>Hyper news</h2>
{% regroup by_day by day as groupped_news %}
{% for group in groupped_news %}
    <h4>{{ group.grouper }}</h4>
    <ul>
        {% for news in group.list %}
            <li><a href="/news/{{ news.link }}/">{{ news.title }}</a></li>
        {% endfor %}
    </ul>
{% endfor %}
<a href="/news/create/">Create News</a>
<form action="/news/" method="get">{% csrf_token %}
    <label for="q_id">Query: </label>
    <input id="q_id" name="q" type="text">
</form>
</body>
</html>